<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex-sides">
      <ion-title>main-page</ion-title>
      <ion-icon name="logo-ionic" size="large" color="primary" (click)="scanSingleBarcode()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'barcode-scanner-active': scanActive}">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">main-page</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item [routerLink]="['/', 'second-page', contact.contactId]" *ngFor="let contact of contacts">
        <ion-label>
          {{contact?.name?.display}}
          <p>
            {{joinNumbers(contact?.phones)}}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
